*{
  margin: 0;
  padding: 0;
}
.main-content{
  display: flex;
  width: 95vw;
  justify-content: space-around;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 52px;
}
.box{
  width: 22vw;
  border-radius: 20px;
  background-color: #ECEDEE;
}
